{
    margin: -7px;
    padding: -7;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100%;
    background: #42455a;
    
}
.container2{
    width: 100%;
    height: auto;
    background: #42455a;
    
}
.menu ul{
    display: inline-flex;
    margin: 50px;
    
}
.menu ul li{
    font-family: cursive;
    font-size: 22;
    list-style: none;
    margin: 0 20px;
    color: #b2b1b1;
    cursor: pointer;
     
    
}
.logo img:hover, .logo img{
    width: 200;
    height:100;
    margin-right: 28px;
    margin-bottom: 10px;
}
.logo img{
    width: 180px;
    height: 90px;
    margin-top: -30px;
    margin-right: 48px;
    
}
.active:hover, .active{
    font-size: 25;
    margin-right: 12;
    
}
.active2:hover, .active2{
    font-size: 25;
    margin-right:6.5;
    
}
.active3:hover, .active3{
    font-size: 25;
    margin-right: 12;
    
}
.active a{
    color: red;
}
.active2 a{
    color: greenyellow !important;
}
.active3 a{
    color: royalblue!important;
}
.search-box{
    position: absolute;
    left: 83%;
    top: 8%;
    transform: translate(-40%,-40%);
    background:coral;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    
    
}
.search-box:hover, .search-txt{
    width: 240px;
    
    
}
.search-box:hover, .search-btn{
    width: 240px;
    background: white;
    
}
.search-btn{
    color: #42455a;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 8px;
    transition: 0.5s;
    line-height: 40px;
    width: 0px;
}
.banner{
    width: 50%;
    height: 70%;
    top: 26%;
    left: 5%;
    position: absolute;
    color:darkorange;
    font-family: cursive;
    font-size: 40;
    
}
.topper{
    width: 50%;
    height: 70%;
    top: 26%;
    left: 2%;
    position: absolute;
    color:limegreen;
    font-family: cursive;
    font-size: 40;
    
}
.contact{
    width: 50%;
    height: 70%;
    top: 26%;
    left: 4%;
    position: absolute;
    color:deepskyblue;
    font-family: cursive;
    font-size: 40;
    
}


.des{
    float: left;
    position: relative;
    margin-left:auto;
    margin-right:auto;
    width: 98%
}
.me{
    
    position: absolute;
    left:50px; /* play around with this */
    top: 500px;
    right: 60%;
    bottom: 20%;
    
    
}

.social-icons{
    right: 90%;
    bottom: -50%;
    position: absolute;
}
.social-icons ul li{
    list-style: none;
    margin-left: 15px;
    text-align: center;
}
.social-icons ul li a{
    color: #999;
    border-radius: 70%;
    border: 10px solid #99;
    padding: 20px;
    
    width: 70%;
    display: block;
}
.backtotop{
    right: 2%;
    bottom: 4%;
    position:fixed;
    
}
.backtotop ul li{
   list-style: none;
    margin-left: 0;
    
}
.backtotop ul li a{
    color: cornflowerblue;
    border-radius: ;
    border: 10px solid #99;
    padding: 0;
    display: block;
    transition-duration: 1s;
    cursor: pointer;
        
}
.animation p{
    font-size: 50;
    font-family: cursive;
    text-align: center;
    color: white;
    position: absolute;
    top: 74%;
    right: 23%;
}
.typed-text{
    font-weight: normal;
    color: #ffff99;
}

